@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    
:root  {
  --background: 224 9% 95%;
  --foreground: 224 5% 10%;
  --card: 224 9% 90%;
  --card-foreground: 224 5% 15%;
  --popover: 224 9% 95%;
  --popover-foreground: 224 95% 10%;
  --primary: 224 100% 64%;
  --primary-foreground: 0 0% 0%;
  --secondary: 224 10% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 186 10% 85%;
  --muted-foreground: 224 5% 40%;
  --accent: 186 10% 80%;
  --accent-foreground: 224 5% 15%;
  --destructive: 0 50% 48%;
  --destructive-foreground: 224 5% 90%;
  --border: 224 20% 50%;
  --input: 224 20% 48%;
  --ring: 224 100% 64%;
  --radius: 0.75rem;
  --shadow-root: 100 0% 50%;
  --table-boarder: 215 20% 65%;
}
.dark  {
  --background: 224 10% 10%;
  --foreground: 224 5% 90%;
  --card: 224 9% 10%;   
  --card-foreground: 224 5% 90%;
  --popover: 224 10% 5%;
  --popover-foreground: 224 5% 90%;
  --primary: 224 100% 64%;
  --primary-foreground: 0 0% 100%;
  --secondary: 224 10% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 186 10% 25%;
  --muted-foreground: 0 0% 50%;
  --accent: 186 10% 25%;
  --accent-foreground: 224 5% 90%;
  --destructive: 0 50% 48%;
  --destructive-foreground: 224 5% 90%;
  --border: 224 20% 48%;
  --input: 224 20% 48%;
  --ring: 224 100% 64%;
  --radius: 0.75rem;
  --shadow-root: 100 0% 50%;
  --table-boarder: 217 33% 17%;
  --warning: 0 0% 100%;
  --warning-foreground: 200 0% 100%;
  
}

  }

  
@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-body;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}


